.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: white;
  background-color: black;
}

.stats__top-list {
  background-image: url(https://www.premierleague.com/resources/rebrand/v7.128.2/i/elements/backgrounds/club-promo-bg.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  border-radius: 0.5rem;
  height: 7.5rem;
}

.stats__regular-list {
  li {
    flex: 1;
    padding: 0;
  }
}

.all-stats__list-container {
  border-radius: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.all-stats__list-container:before {
  background: linear-gradient(284.38deg, #ffc107, #ffeb3b);
}

.all-stats__list-container:before {
  content: '';
  display: block;
  position: absolute;
  top: -0.1rem;
  left: -0.1rem;
  right: -0.1rem;
  height: 0.4rem;
  border-radius: 0 0 0.5rem 0.5rem;
  transform: rotate(180deg);
}

.all-stats__list-container {
  border: 0.1rem solid var(--bs-gray-100);

  > div {
    border-bottom: 0.1rem solid var(--bs-gray-100);
  }
}

.flag__player {
  width: 2rem;
  display: flex;
}

/* result list */
.match-fixture__wrapper {
  display: block;
  text-decoration: none;
}

.match-fixture__container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  align-items: center;
  width: 100%;
}

.match-fixture__wrapper:focus .match-fixture__container,
.match-fixture__wrapper:hover .match-fixture__container {
  color: #fff;
  background: linear-gradient(
    98.5deg,
    #05f0ff -46.16%,
    #7367ff 42.64%,
    #963cff 70.3%
  );
}

.match-fixture__teams {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}

.match-fixture__team-name {
  font-weight: 600;
  white-space: nowrap;
  width: 100%;
}

.match-fixture__score {
  background: #37003c;
  color: #fff;
  font-weight: 700;
}

.match-fixture__score {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  width: 3.5rem;
  height: 1.75rem;
}

.match-fixture__tournament {
  font-weight: 500;
}

.match-fixture__wrapper:focus .match-fixture__end-icon,
.match-fixture__wrapper:hover .match-fixture__end-icon {
  margin-right: 0.8rem;
  margin-left: 1.6rem;
}

.match-fixture__end-icon {
  display: block;
  margin-left: 0.8rem;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 1.6rem;
  transition: all 0.2s linear;
}

.fa-arrow-right:hover {
  color: #fff;
}
