.home-header {
  background-size: cover;
  background-position: center;
  display: block;
  position: relative;
  height: 90vh;
  border-bottom: 0.4rem solid #ebff00;
}

.content-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.title-container {
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  height:15%;

  padding: 2rem;
  height: 25rem;
  width: 35rem;
  min-height: 5rem;

  opacity: 0.8;
}

.button-container {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}
