<div class="banner" style="background-image: linear-gradient(rgb(0 0 0 / 23%),rgb(0 0 0 / 15%)), url(https://olympique.ca/wp-content/uploads/sites/2/2011/08/water-polo13.jpg?quality=100);">
  <div class="container">
    <h1 class="mb-3">Match of  the year <br> is coming</h1>
    <%= link_to "get ready", dashboard_path, class:"btn btn-ghost" %>
  </div>
</div>
