<div class="home-header" style="background-image: url(https://olympique.ca/wp-content/uploads/sites/2/2011/08/water-polo13.jpg?quality=100);">
  <div class="content-wrapper">
    <div class="title-container" style="background-image: url(<%= asset_path 'Homesplash.jpg' %>);">
      <%= image_tag "PuuluHome.png", height: 75 %>
      <h2 class="fw-bold text-white text-start"><br>RAISE YOUR GAME!</h2>
      <div class="mt-5 d-flex justify-content-end">
        <%= link_to "Let's Play!", dashboard_path, class:"btn btn-secondary button-container w-50 justify-content-center"  %>
      </div>
    </div>
  </div>
</div>
