<div class="home-header" style="background-image: url(https://olympique.ca/wp-content/uploads/sites/2/2011/08/water-polo13.jpg?quality=100);">
  <div class="content-wrapper">
    <div class="title-container bg-primary">
      <h1 class="h2 fw-bold text-white">Match of <br> the year <br> is coming</h1>
      <div class="mt-5">
        <%= link_to "get ready", user_session_path, class:"btn btn-secondary button-container w-50"  %>
      </div>
    </div>
  </div>
</div>
