 <div class="player-container">
  <div class="player-content-container">
    <div class="col-5 fw-bold" style="margin-left: 1rem">Name</div>
    <div class="col fw-bold" style="margin-left: -1rem">Position</div>
    <div class="col fw-bold">Handedness</div>
    <div class="col fw-bold text-center">Year</div>
    <div class="col-2 fw-bold text-center">Nationality</div>
    <div class="col fw-bold text-end">Details</div>
  </div>

  <div class="mt-2">
    <% @players.each do |player| %>
      <%= render 'player_card_item', player: player %>
    <% end %>
  </div>
</div>
