<li class="border-bottom">
  <a href="#" class="match-fixture__wrapper" >
    <span class="match-fixture__container">

      <span class="match-fixture__teams">
        <span class="match-fixture__team"><%= game.team.name %></span>
        <div class="match-fixture__score"> 3 <span>-</span> 0 </div>
        <span class="match-fixture__team"><%= game.opponent_team.name %></span>
      </span>

      <span class="match-fixture__tournament"><%= game.tournament %></span>

      <span class="match-fixture__end-icon">
        <i class="fa-solid fa-arrow-right"></i>
      </span>
    </span>
  </a>
</li>
